html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.navBar{
    width: 100%;
    height: 70px;
    background-color:white;
    padding:0px;
    position: fixed;
    z-index: 2;
}
.navBar ul{
    float: right;
    list-style-type: none;
    padding-top:18px;
}
.navBar ul button{
    background-color: rgb(124, 32, 167);
    padding:4px 28px;
    margin-right: 30px;
    border-radius: 18px;
    border: white;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.navBar ul li{
    float: left;
    color: rgb(46, 44, 44);
    padding-right:38px;
    padding-bottom: 10px;
    margin: 0%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.navBar ul li .logo{
    float: left;
    z-index: 1;
    font-size: 20px;
    color: tomato;

}
.navBar ul li a{
    text-decoration: none;
    color: rgb(66, 60, 60);
}
.navBar ul li a:hover{
    color: rgb(184, 17, 226);
}
.header{
    background-image: url("https://www.getepic.com/assets/home/hero-4-f.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}
.header .body{
    padding: 15% 22% 0% 22%;
}
.body h1{
    font-size: 130px;
    color: white;
    /* padding:230px 340px 0px 340px; */
    font-family: 'Courgette', cursive;
}
.body h3{
    font-size:48px;
    color: white;
    /* padding:0px 260px 0px 500px; */
    padding-left: 30%;
    font-family: 'Courgette', cursive;
    margin: 0px;
}
.body button{
    padding:10px 65px;
    margin:10% 28% 0% 35%; 
    background-color: transparent;
    border-radius: 28px;
    border-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    

}
.body button a{
    text-decoration: none;
    color: white;
    display: inline;
}
.intro1{
    background-color: rgb(245, 239, 239);
    width: 100%;
    height: 100vh;
    display: table;
}
.intro1{
    background-color: rgb(245, 239, 239);
}
.intro1 h1{
    font-size: 40px;
    float: right;
    padding-top: 190px;
    margin-right: 40px;
    padding-right: 25px;
    width: 55%;
    display: table-cell;
    color:rgb(70, 66, 66)
}

.intro1 .inner img{
    background-color: white;
    height: 50vh;
    width: 30%;
    border-radius: 120%;
    margin-top: 130px;
    margin-left: 100px;
    
}

.intro2{
    background-color: rgb(241, 238, 238);
    width: 100%;
    height: 100vh;
}
.intro2{
    background-color:  rgb(241, 238, 238);
}
.intro2 h1{
    font-size: 45px;
    padding-top: 190px;
    margin-left: 55px;
    padding-left: 25px;
    float: left;
    width: 55%;
    display: table-cell;
    color:rgb(70, 66, 66)
}
.intro2 .inner img{
    background-color: white;
    height: 50vh;
    width: 30%;
    border-radius: 120%;
    margin-top: 130px;
    margin-right: 100px;
    float: right;
    
}


.intro3{
    background-color: rgb(245, 239, 239);
    width: 100%;
    height: 100vh;
}
.intro3{
    background-color: rgb(245, 239, 239);
}
.intro3 h1{
    font-size: 45px;
    float: right;
    padding-top: 190px;
    margin-right: 55px;
    padding-right: 25px;
    width: 55%;
    display: table-cell;
    color:rgb(70, 66, 66)
}
.intro3 .inner img{
    background-color: white;
    height: 50vh;
    width: 30%;
    border-radius: 120%;
    margin-top: 130px;
    margin-left: 100px;
    
}

.intro4{
    background-color:  rgb(241, 238, 238);
    width: 100%;
    height: 100vh;
}
.intro4{
    background-color: rgb(241, 238, 238);
}
.intro4 h1{
    font-size: 45px;
    padding-top:190px;
    margin-left: 55px;
    padding-left: 25px;
    float: left;
    width: 55%;
    display: table-cell;
    color:rgb(70, 66, 66)
}
.intro4 .inner img{
    background-color: white;
    height: 50vh;
    width: 30%;
    border-radius: 120%;
    margin-top: 130px;
    margin-right: 100px;
    float: right;
    
}
.news{
    width: 100%;
    height: 40vh;
}
.news .newsletter h3{
    margin-top: 30px;
    padding-top:30px;
}
.news .newsletter form{
    overflow: hidden;
}
.news .newsletter form input[type="text"]{
    border: 1px solid lighten(gray, 50%);
    width: 30%; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 30%;
    margin-right: 0px; 
    font-weight: bold;
    font-size:15px;
    color: black;

    
}

.news .newsletter form input[type="text"]:focus{
    border: 1px rgb(33, 1, 48);
}
.news .newsletter form input[type="submit"]{
    border: 1px rgb(174, 52, 223);
    background-color: rgb(85, 3, 85);
    padding-bottom: 11px;
    padding-top:11px;
    padding-left:15px;
    padding-right:15px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    letter-spacing: 0.2rem;
}
.footer{
    width: 100%;
    height: 50vh;
    background-color: rgb(185, 179, 174);
    display: table;
}
.footer .social_media{
    width:100%;
    display: table-cell;
}
.footer .social_media img{
    height: 35px;
    width: 35px;
    margin-top: 36px;
    margin-right:10px;
    
    filter: grayscale(100%);
}
.footer .social_media img:hover{
    opacity: 1;
    filter: grayscale(0%);

}
.footer .social_media h1{
    margin-top:2%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
    color: rgb(62, 63, 60);
}
.footer .social_media ul li{
    list-style-type: none;
    float: left;
    padding-right: 8%;
    padding-left: 6%;
    margin-top: 18px;
    display: table-cell;
}
.specs1{
    background-image:url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.iconhot.com%2Ficon%2Fpng%2Ffire-toolbar%2F256%2Fnotes-8.png&f=1&nofb=1");
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 4px #e9e6e6;
}
.specs2{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.qpgs.org%2Fwp-content%2Fuploads%2F2018%2F02%2Fkids-sitting-2.png&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: contain;
    height: 290px;
    box-shadow: 5px 5px 4px #e9e6e6;
}
.specs3{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pngall.com%2Fwp-content%2Fuploads%2F2016%2F05%2FNewspaper-Free-Download-PNG.png&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    box-shadow: 5px 5px 4px #e9e6e6;
}
.specs4{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.pngio.com%2Fdocument-clipart-research-paper-document-research-paper-research-report-png-670_674.png&f=1&nofb=1");
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    box-shadow: 5px 5px 4px #e9e6e6;
    /* box-shadow: 5px 10px inset; */
}
.font{
    font-family: 'Courgette', cursive;
    top: 60%;
    display: contents;
    color:  rgb(60, 1, 87);
}
.specs1:hover{
    box-shadow: 5px 5px 5px rgb(189, 137, 189) inset;
}
.specs2:hover{
    box-shadow: 5px 5px 5px rgb(189, 137, 189) inset;
}
.specs3:hover{
    box-shadow: 5px 5px 5px rgb(189, 137, 189) inset;
}
.specs4:hover{
    box-shadow: 5px 5px 5px rgb(189, 137, 189) inset;
}

.specs1:active{
    box-shadow: 8px 8px 6px rgb(192, 132, 192) inset;
}
.specs2:active{
    box-shadow: 8px 8px 6px rgb(192, 132, 192) inset;
}
.specs3:active{
    box-shadow: 8px 8px 6px rgb(192, 132, 192) inset;
}
.specs4:active{
    box-shadow:8px 8px 6px rgb(192, 132, 192) inset;
}

/* 
form {
    overflow: hidden;
}
    input{
      width: 100%;
      float: left;
      padding: 15px 20px;
      text-align: center;
      font-family: inherit;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      outline: 0;
    }
      input[type=email] {
        margin-bottom: 15px;
        border: 1px solid lighten(gray, 50%);
      }
       
        
      input[type=email]:focus {
          border-color: gray;
        }
      
      
        input[type=submit] {
        background-color: purple;
        color: white;
        border: 1px solid purple;
        transition:(all .4s);
        }
        
        input[type=submit] {
          cursor: pointer;
          background-color: darken(purple, 10%);
          border-color: darken(purple, 10%);
        }
      
    
   */











/* Media Query */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }